<section class="works">
    <div class="container">
        <div class="row">
            <div class="col-12 wow fadeIn">
                <h6>{{.tagline}}</h6>
                <h2 data-text="{{.underlay_title}}">{{.section_title}}</h2>
            </div>
            <!-- end col-12 -->
            <div class="col-12">
                {{range .works.works_selection}}
                    {{with site.GetPage .work_item}}
                    <div class="project-box wow fadeIn" data-bg="#faf8ed">
                        <figure> <a href="{{site.Params.cloudinary_url}}{{}}" data-fancybox><img src="/images/featured01.jpg" alt="Image"></a></figure>
                        <div class="content-box">
                            <div class="inner"> <small>{{.Params.tagline}}</small>
                                <h3>{{.Params.title | safeHTML}}</h3>
                                <div class="custom-link"> <a href="{{ .RelPermalink }}">
                                    <div class="lines"> <span></span> <span></span> </div>
                                    <!-- end lines -->
                                    <b>LEARN MORE</b></a> </div>
                                <!-- end custom-link -->
                            </div>
                            <!-- end inner -->
                        </div>
                        <!-- end content-box -->
                    </div>
                    <!-- end project-box -->
                    {{end}}
                {{end}}
            </div>
            <!-- end col-12 -->
        </div>
        <!-- end row -->
    </div>
    <!-- end container -->
</section>
<!-- end works -->
