{{define "header"}}
    {{ range .Params.page_sections}}
        {{if eq "section-slider" .template}}

        <header class="header">
            {{ partial "aside_home" }}

            {{ partial "blocks/section_slider" . }}
        </header>
        <!-- end header -->

        {{end}}
    {{end}}
{{end}}

{{ define "main" }}

{{ range .Params.page_sections }}
    {{if eq "section-two-column-text" .template}}
        {{ partial "blocks/section_two_column_text" . }}
    {{end}}
    {{if eq "section-3-column-list-video" .template}}
        {{ partial "blocks/section_three_column_list_video" . }}
    {{end}}
    {{if eq "section-works" .template}}
        {{ partial "blocks/section_works" .template (dict "template" . "ctx" $) }}
    {{end}}
{{end}}

{{ end }}