{{define "header"}}
<header class="page-header">
    {{partial "page_header" .}}
    {{ partial "aside_home" }}
</header>
<!-- end header -->
{{end}}

{{ define "main" }}
<section class="works">
    <div class="container">
        <div class="row">
            <div class="col-12 wow fadeIn">
                <h6>SMOOTH INTERFACE INTERACTION</h6>
                <h2 data-text="Works">Our selected showcases and portfolios </h2>
            </div>
            <!-- end col-12 -->
            <div class="col-12">
                <div class="project-box wow fadeIn" data-bg="#faf8ed">
                    <figure> <a href="/images/featured01.jpg" data-fancybox><img src="/images/featured01.jpg" alt="Image"></a></figure>
                    <div class="content-box">
                        <div class="inner"> <small>AMAZING USER INTERFACE & SMOOTH INTERACTION</small>
                            <h3><span>Karamel</span>Coffee</h3>
                            <div class="custom-link"> <a href="works-single.html">
                                <div class="lines"> <span></span> <span></span> </div>
                                <!-- end lines -->
                                <b>LEARN MORE</b></a> </div>
                            <!-- end custom-link -->
                        </div>
                        <!-- end inner -->
                    </div>
                    <!-- end content-box -->
                </div>
                <!-- end project-box -->
                <div class="project-box wow fadeIn" data-bg="#ece6f4">
                    <figure> <a href="/images/featured02.jpg" data-fancybox><img src="/images/featured02.jpg" alt="Image"></a></figure>
                    <div class="content-box">
                        <div class="inner"> <small>AMAZING USER INTERFACE & SMOOTH INTERACTION</small>
                            <h3><span>Female</span>Purples</h3>
                            <div class="custom-link"> <a href="works-single.html">
                                <div class="lines"> <span></span> <span></span> </div>
                                <!-- end lines -->
                                <b>LEARN MORE</b></a> </div>
                            <!-- end custom-link -->
                        </div>
                        <!-- end inner -->
                    </div>
                    <!-- end content-box -->
                </div>
                <!-- end project-box -->
                <div class="project-box wow fadeIn" data-bg="#ebf8f3">
                    <figure> <a href="/images/featured03.jpg" data-fancybox><img src="/images/featured03.jpg" alt="Image"></a></figure>
                    <div class="content-box">
                        <div class="inner"> <small>AMAZING USER INTERFACE & SMOOTH INTERACTION</small>
                            <h3><span>Redness</span>Socks</h3>
                            <div class="custom-link"> <a href="works-single.html">
                                <div class="lines"> <span></span> <span></span> </div>
                                <!-- end lines -->
                                <b>LEARN MORE</b></a> </div>
                            <!-- end custom-link -->
                        </div>
                        <!-- end inner -->
                    </div>
                    <!-- end content-box -->
                </div>
                <!-- end project-box -->
                <div class="project-box wow fadeIn" data-bg="#f4eedf">
                    <figure> <a href="/images/works04.jpg" data-fancybox><img src="/images/works04.jpg" alt="Image"></a></figure>
                    <div class="content-box">
                        <div class="inner"> <small>AMAZING USER INTERFACE & SMOOTH INTERACTION</small>
                            <h3><span>Hairling</span>Glass</h3>
                            <div class="custom-link"> <a href="works-single.html">
                                <div class="lines"> <span></span> <span></span> </div>
                                <!-- end lines -->
                                <b>LEARN MORE</b></a> </div>
                            <!-- end custom-link -->
                        </div>
                        <!-- end inner -->
                    </div>
                    <!-- end content-box -->
                </div>
                <!-- end project-box -->
                <div class="project-box wow fadeIn" data-bg="#e5f2f7">
                    <figure> <a href="/images/works05.jpg" data-fancybox><img src="/images/works05.jpg" alt="Image"></a></figure>
                    <div class="content-box">
                        <div class="inner"> <small>AMAZING USER INTERFACE & SMOOTH INTERACTION</small>
                            <h3><span>Bebishka</span>Babies</h3>
                            <div class="custom-link"> <a href="works-single.html">
                                <div class="lines"> <span></span> <span></span> </div>
                                <!-- end lines -->
                                <b>LEARN MORE</b></a> </div>
                            <!-- end custom-link -->
                        </div>
                        <!-- end inner -->
                    </div>
                    <!-- end content-box -->
                </div>
                <!-- end project-box -->
                <div class="project-box wow fadeIn" data-bg="#f5efe8">
                    <figure> <a href="/images/works06.jpg" data-fancybox><img src="/images/works06.jpg" alt="Image"></a></figure>
                    <div class="content-box">
                        <div class="inner"> <small>AMAZING USER INTERFACE & SMOOTH INTERACTION</small>
                            <h3><span>Cleaning</span>Bathys</h3>
                            <div class="custom-link"> <a href="works-single.html">
                                <div class="lines"> <span></span> <span></span> </div>
                                <!-- end lines -->
                                <b>LEARN MORE</b></a> </div>
                            <!-- end custom-link -->
                        </div>
                        <!-- end inner -->
                    </div>
                    <!-- end content-box -->
                </div>
                <!-- end project-box -->
                <div class="project-box wow fadeIn" data-bg="#dbe3f1">
                    <figure> <a href="/images/works07.jpg" data-fancybox><img src="/images/works07.jpg" alt="Image"></a></figure>
                    <div class="content-box">
                        <div class="inner"> <small>AMAZING USER INTERFACE & SMOOTH INTERACTION</small>
                            <h3><span>Relaxing</span>Bluesis</h3>
                            <div class="custom-link"> <a href="works-single.html">
                                <div class="lines"> <span></span> <span></span> </div>
                                <!-- end lines -->
                                <b>LEARN MORE</b></a> </div>
                            <!-- end custom-link -->
                        </div>
                        <!-- end inner -->
                    </div>
                    <!-- end content-box -->
                </div>
                <!-- end project-box -->
                <div class="project-box wow fadeIn" data-bg="#e8d7f1">
                    <figure> <a href="/images/works08.jpg" data-fancybox><img src="/images/works08.jpg" alt="Image"></a></figure>
                    <div class="content-box">
                        <div class="inner"> <small>AMAZING USER INTERFACE & SMOOTH INTERACTION</small>
                            <h3><span>Speculos</span>Cookies</h3>
                            <div class="custom-link"> <a href="works-single.html">
                                <div class="lines"> <span></span> <span></span> </div>
                                <!-- end lines -->
                                <b>LEARN MORE</b></a> </div>
                            <!-- end custom-link -->
                        </div>
                        <!-- end inner -->
                    </div>
                    <!-- end content-box -->
                </div>
                <!-- end project-box -->
                <div class="project-box wow fadeIn" data-bg="#f1dad6">
                    <figure> <a href="/images/works09.jpg" data-fancybox><img src="/images/works09.jpg" alt="Image"></a></figure>
                    <div class="content-box">
                        <div class="inner"> <small>AMAZING USER INTERFACE & SMOOTH INTERACTION</small>
                            <h3><span>Clonney</span>Colors</h3>
                            <div class="custom-link"> <a href="works-single.html">
                                <div class="lines"> <span></span> <span></span> </div>
                                <!-- end lines -->
                                <b>LEARN MORE</b></a> </div>
                            <!-- end custom-link -->
                        </div>
                        <!-- end inner -->
                    </div>
                    <!-- end content-box -->
                </div>
                <!-- end project-box -->
            </div>
            <!-- end col-12 -->
        </div>
        <!-- end row -->
    </div>
    <!-- end container -->
</section>
<!-- end works -->
{{ end }}