<!--
<aside class="left-side">
    <ul>
        <li><a href="#">FACEBOOK</a></li>
        <li><a href="#">BEHANCE</a></li>
        <li><a href="#">DRIBBBLE</a></li>
    </ul>
</aside>
-->
<!-- end left-side -->
<div class="scroll-down"><small>SCROLL DOWN</small><span></span></div>
<!-- end scroll-down -->
<div class="sound"><span> SOUND </span>
    <div class="equalizer">
        <div class="holder"><span></span> <span></span> <span></span> <span></span><span></span><span></span></div>
        <!-- end holder -->
    </div>
    <!-- end equalizer -->
</div>
<!-- end sound -->