<nav class="navbar">
    <div class="left"> <a href="direction.html">DIRECTION</a> </div>
    <!-- end left -->
    <div class="logo"> <a href="index.html"><img src="images/logo.png" alt="Image"></a> </div>
    <!-- end logo -->
    <div class="right">
        <ul class="language">
            <li><a href="#">EN</a></li>
            <li><a href="#">RU</a></li>
        </ul>
        <div class="hamburger-menu"><b>MENU</b>
            <div class="hamburger" id="hamburger-menu"> <span></span> <span></span> <span></span> </div>
        </div>
        <!-- end hamburger-menu -->
    </div>
    <!-- end right -->
</nav>
<!-- end navbar -->