<div class="navigation-menu">
    <div class="bg-layers"> <span></span> <span></span> <span></span> <span></span> </div>
    <!-- end bg-layers -->
    <div class="inner" data-tilt data-tilt-perspective="2000">
        <div class="menu">
            <ul>
                <li><a href="#">START</a>
                    <ul>
                        <li><a href="index.html">Slider</a></li>
                        <li><a href="index-video.html">Video</a></li>
                        <li><a href="index-particles.html">Particles</a></li>
                        <li><a href="index-perspective.html">Perspective</a></li>
                    </ul>
                </li>
                <li><a href="works.html">WORKS</a></li>
                <li><a href="brabus.html">BRABUS</a></li>
                <li><a href="news.html">NEWS</a></li>
                <li><a href="hello.html">HELLO</a></li>
            </ul>
        </div>
        <!-- end menu -->
        <blockquote>Let's create useful website for you ?</blockquote>
    </div>
    <!-- end inner -->
</div>
<!-- end navigation-menu -->
