<div class="navigation-menu">
    <div class="bg-layers"> <span></span> <span></span> <span></span> <span></span> </div>
    <!-- end bg-layers -->
    <div class="inner" data-tilt data-tilt-perspective="2000">
        <div class="menu">
            <ul>
                {{ range .Site.Menus.main }}
                <li>
                    <a href="{{ .URL }}">{{.Name}}</a>
                    {{ if .HasChildren}}
                    <ul>
                        {{ range .Children }}
                            <li><a href="{{.URL}}">{{.Name}}</a></li>
                        {{ end }}
                    </ul>
                    {{ end }}
                </li>
                {{ end }}
            </ul>
        </div>
        <!-- end menu -->
        <blockquote>Let's create useful website for you ?</blockquote>
    </div>
    <!-- end inner -->
</div>
<!-- end navigation-menu -->
