<section class="services-content-block">
    <div class="video-bg">
        <video src="videos/video.mp4" muted loop autoplay></video>
    </div>
    <!-- end video-bg -->
    <div class="container">
        <div class="row">
            <div class="col-12 wow fadeIn">
                <h6>SMOOTH INTERFACE INTERACTION</h6>
                <h2>Creation of friendly web interface layout </h2>
            </div>
            <!-- end col-12 -->
            <div class="col-md-4 wow fadeIn" data-wow-delay="0s">
                <div class="content-box">
                    <div class="left"><small>01</small><span></span></div>
                    <!-- end left -->
                    <div class="right">
                        <h4>STRATEGY</h4>
                        <p>Creativity for us something
                            personal.</p>
                        <ul>
                            <li>UX strategy</li>
                            <li>Concept development</li>
                            <li>Content strategy</li>
                            <li>Online marketting </li>
                            <li>User testing &amp; research</li>
                        </ul>
                    </div>
                    <!-- end right -->
                </div>
                <!-- end content-box -->
            </div>
            <!-- end col-4 -->
            <div class="col-md-4 wow fadeIn" data-wow-delay="0.05s">
                <div class="content-box">
                    <div class="left"><small>02</small><span></span></div>
                    <!-- end left -->
                    <div class="right">
                        <h4>UI-UX LAYOUT</h4>
                        <p>Creativity for us something
                            personal.</p>
                        <ul>
                            <li>User Interface</li>
                            <li>Prototype development</li>
                            <li>Content strategy</li>
                            <li>Online research </li>
                            <li>Layout wireframe</li>
                        </ul>
                    </div>
                    <!-- end right -->
                </div>
                <!-- end content-box -->
            </div>
            <!-- end col-4 -->
            <div class="col-md-4 wow fadeIn" data-wow-delay="0.10s">
                <div class="content-box">
                    <div class="left"><small>03</small><span></span></div>
                    <!-- end left -->
                    <div class="right">
                        <h4>BACK-END DEV</h4>
                        <p>Creativity for us something
                            personal.</p>
                        <ul>
                            <li>CMS Development</li>
                            <li>Back-end Prototype</li>
                            <li>Coding strategy</li>
                            <li>Beta testing </li>
                            <li>Page builder</li>
                        </ul>
                    </div>
                    <!-- end right -->
                </div>
                <!-- end content-box -->
            </div>
            <!-- end col-4 -->
        </div>
        <!-- end row -->
    </div>
    <!-- end container -->
</section>
<!-- end services-content-block -->