{{define "header"}}
<header class="page-header">
    {{partial "page_header" .}}
    {{ partial "aside_home" }}
</header>
<!-- end header -->
{{end}}

{{ define "main" }}
<section class="news">
    <div class="container">
        <div class="row">
            <div class="col-12">
                {{range .Pages}}
                <div class="post wow fadeIn">
                    <figure class="post-image">
                        <img src="{{.Params.thumbnail}}" alt="Image">
                    </figure>
                    <!-- end news-image -->
                    <div class="post-content">
                        <div class="inner">
                            <small class="post-date">{{dateFormat "02 January, 2006" .Date }}</small>
                            <h3 class="post-title"><a href="{{.RelPermalink}}">{{.Title}}</a></h3>
                            <div class="post-author"><img src="/images/author01.jpg" alt="Image"> <span>by <a href="#">{{.Params.author}}</a></span></div>
                            <p class="post-text">{{.Summary | truncate 200}}</p>
                        </div>
                        <!-- end inner -->
                    </div>
                    <!-- end post-content -->
                </div>
                <!-- end post -->
                {{end}}
                <div class="pagination fadeIn">
                    <a href="#">PREV</a>
                    <a href="#">NEXT</a>
                </div>
                <!-- end pagination -->
            </div>
            <!-- end col-12 -->
        </div>
        <!-- end row -->
    </div>
    <!-- end container -->
</section>
<!-- end news -->
{{ end }}