{{ $fileref := .Page.Params.inputFile}}

{{/* printf "%#v"  $fileref*/}}

{{with .Site.GetPage $fileref}}
<section class="intro">
    <div class="container">
        <div class="row">
            <div class="col-12 wow fadeIn">
                <h6>{{.Params.tagline}}</h6>
                <h2 data-text="{{.Params.underlayText}}">{{.Params.sectionTitle}} </h2>
            </div>
            <!-- end col-12 -->
            <div class="col-lg-5 wow fadeIn">
                <h4>{{.Params.columnLeft}}</h4>
            </div>
            <!-- end col-5 -->
            <div class="col-lg-7 wow fadeIn" data-wow-delay="0.10s">
                <p>Thanks to our experience and expertise, we were entrusted with the development of a new website for <u>Araxia</u>’s capital city, Riyadh, in collaboration with a well-recognized local agency.</p>
                <p>Design very few <strong>companies</strong> in the world have ventured on a project of such tremendous scope and complex</p>
                <div class="custom-link wow fadeIn"> <a href="{{.Params.linkTo}}">
                    <div class="lines"> <span></span> <span></span> </div>
                    <!-- end lines -->
                    <b>READ TO LEARN</b></a> </div>
                <!-- end custom-link -->
            </div>
            <!-- end col-7 -->
        </div>
        <!-- end row -->
    </div>
    <!-- end container -->
</section>
{{end}}